<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>

{% block title %}CHAT ROOM{% endblock %}
{% block header_text %}CHAT ROOM{% endblock %}


<body>
<ul class="rooms">
        {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

    <div id="chats">
    </div>
</body>
      


<a href="/create_room/">Create New Room</a>

<a href="/join_room/">Join an existing Room</a>
