<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
{% load static %}
   <head>
      <meta charset="utf-8"/>
      <title>Chat Rooms</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
   </head>
   <body>
      <div id="container">
         <div>
            <button class="btn" onclick="logout()">Logout</button>
            <button id="Rules" onclick="popup()">Rules</button>
         </div>
         <div class="room">
            <div class="rooms">
			  <h3 style="font-size:5vh"> OPEN PLAYING ROOMS </h3>
			
			  {% for room in rooms %}
			  <li class="room-link" id="{{ room.title }}" onclick='openroom(this)'>{{ room }}</li>
			
			  {% empty %}
			  <em> NO PLAYING ROOM OPEN .....CREATE NEW ROOM ;)</em><br/>
			  <a href="{% url 'create_room' %}">Create New Room</a>
			  {% endfor %}
		   </div>
         </div>
         <!--<div id="input-field">
            <h1>Create new room:</h1>
            <input type="text"  id="room-name" placeholder="Name of the room"><br><br>
            <input type="submit"  value="Go" id="submit-button">
         </div>-->
         <!-- Following section displays the rule --> 
         <div id="rule-image">
            <img src="{%static 'chat/icons/scroll.jpeg' %}" id="image">
            <button class="close"  type="button"  >
            <span class="cross">&times;</span>
            </button>
         </div>
      </div>
   </body>
   <script>
	   function openroom(e) {
        var roomName = e.id;
        window.location.pathname = '/chat/' + roomName + '/';
    	};
	   
var x = document.getElementById('rule-image');

        function popup(){
    	    x.style.display = "block";
    	    x.style.animation = "incoming 1s";
    	}

    	$("button.close").click(function() {
 
        
           $("#rule-image").fadeOut(1000);
               
        });

        $("#container").click(function(event) {
             
             if (event.target == x) {
             	$("#rule-image").fadeOut(1000);
             }
        });
        function logout(){
            window.location.pathname='logout';
        }
     
   </script>
</html>