<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
{% load static %}
   <head>
      <meta charset="utf-8"/>
      <title>Chat Rooms</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
   </head>

  
<body>
      <div id="container">
         <div>
            <button class="btn" onclick="logout()">Logout</button>
            <button id="Rules" onclick="openStoryline()">Rules</button>
         </div>
         
         <div class="room">
                <!-- This portion shows the neon effect around the box -->
                <div class="light left"></div>
                <div class="light top"></div>
                <div class="light right"></div>
                <div class="light bottom"></div>
                <!-- End of neon effect -->

                <div class="rooms">
          			      <h3> OPEN PLAYING ROOMS </h3>
          			
              			  {% for room in rooms %}
              			  <li class="room-link" id="{{ room.title }}" onclick='openroom(this)'>{{ room }}</li>
              			
              			  {% empty %}
              			  <em> NO PLAYING ROOM OPEN .....CREATE NEW ROOM ;)</em><br/>
              			  <a href="{% url 'create_room' %}">Create New Room</a>
              			  {% endfor %}
    		        </div>
         </div>
       

       <!-- This part is to show the rules -->
          <div class="newsline">
              <div class="upperTriangle"></div>
              <button class="close cross" type="button" onclick="closeStoryline()">&times;<button>  
              <div class="lowerTriangle"></div>
          </div>
      </div>


      <script>
     function openroom(e) {
        var roomName = e.id;
        window.location.pathname = '/chat/' + roomName + '/';
      };
     

        function logout(){
            window.location.pathname='logout';
        }
     

     function openStoryline()
        {
            document.getElementsByClassName('newsline')[0].style.display = 'block';
            document.getElementsByClassName('newsline')[0].classList.remove("revert");
            document.getElementsByClassName('lowerTriangle')[0].classList.remove("originalPosition");
            document.getElementsByClassName('lowerTriangle')[0].classList.add("changePos");
        }

        function closeStoryline()
        {
            document.getElementsByClassName('lowerTriangle')[0].classList.add("originalPosition");
            document.getElementsByClassName('newsline')[0].classList.add("revert");
            document.getElementsByClassName('lowerTriangle')[0].classList.remove("changePos");
            setTimeout(function(){
                document.getElementsByClassName('newsline')[0].style.display = 'none';
            }, 1000);
        }
   </script>
   

</body>
   


</html>

 