<style type="text/css">
     
     body {
  /*background-image: url('./chat/static/chat/icons/room.jpg');*/
/*  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/

}
.room {
float: left;
width: 24vw;
overflow-y: auto;
overflow-x: hidden;
height: 68vh;

padding: 5vh;
border-radius: 10%;
text-align: center;
top: 10vh;
left: 2vw;
display: flex;
align-content: center;
justify-content: center;
position: absolute;
opacity: .9;
  /*animation-name: animate;
  animation-duration: .4s;
  animation-iteration-count: infinite;*/
}

/*Neon effect starts here*/
.light
{
  position: absolute;
  background: #1A1E24;
  box-shadow: 0px 0px 6px 0px #1A1E24;
  border-radius: 3px;
}
.left
{
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5vh;
  -webkit-animation: flickr 3s ease-in-out 1.44s infinite alternate both;
  animation: flickr 3s ease-in-out 1.5s infinite alternate both;
}
.top
{
  top: 0;
  right: 0;
  height: 2.5vh;
  width: 100vw;
  -webkit-animation: flickr 3s ease-in-out 2.09s infinite alternate both;
  animation: flickr 3s ease-in-out 2.1s infinite alternate both;
}
.right
{
  top: 0;
  right: 0;
  height: 100%;
  width: 2.5vw;
  -webkit-animation: flickr 3s ease-in-out 1.44s infinite alternate both;
  animation: flickr 3s ease-in-out 1s infinite alternate both;
}
.bottom
{
  bottom:0;
  right: 0;
  height: 2.5vh;
  width: 100vw;
  -webkit-animation: flickr 3s ease-in-out 2.09s infinite alternate both;
  animation: flickr 3s ease-in-out 1.6s infinite alternate both;
}

@-webkit-keyframes flickr {
  35%, 37%, 39%, 41%, 100% {
    background: #F1F4F5;
    box-shadow: 0px 0px 10px 0px #F1F4F5;
  }
  0%, 34%, 36%, 36%, 38%, 40% {
    background: #1A1E24;
    box-shadow: 0px 0px 6px 0px #1A1E24;
  }
}

@keyframes flickr {
  35%, 37%, 39%, 41%, 100% {
    background: #F1F4F5;
    box-shadow: 0px 0px 10px 0px #F1F4F5;
  }
  0%, 34%, 36%, 36%, 38%, 40% {
    background: #1A1E24;
    box-shadow: 0px 0px 6px 0px #1A1E24;
  }
}/*End of neon effect*/

.room-link{
  list-style-type: none;
  font-size: 4vw;
  margin-bottom: 1vw;
  font-family: 'acme';
  color: #8baaad;
  text-shadow: 2px 3px 25px #a36156;
  cursor: url('icons/roomptr.svg'),default;
  display: block;
}
.room-link:hover {
  color: #64B5F6;
}
.rooms h3
{
  font-size:5vh; 
  color:#3a7d44;
}

.roomNames{
  cursor: pointer;
}
#container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /*background-image: url('room.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  /*sri bhaiya ---background-image: url('https://i.ytimg.com/vi/tzAFRFydvXw/maxresdefault.jpg');*/
  
  /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEh0FqIuq2gXkugqHR1_hEaF0E32YsiO29TrVBGJgJF76iPsjhEw');
  */
  /*background-image:url('https://cdn.vox-cdn.com/thumbor/fZ1tewuXtXPFem98zUWezF_O6bc=/0x0:1920x1080/920x613/filters:focal(423x417:729x723)/cdn.vox-cdn.com/uploads/chorus_image/image/59515329/vlcsnap_2018_04_24_16h38m21s178.0.png');
*/  
  background-image: url('https://cdn.vox-cdn.com/thumbor/luv65fDjFP8sgvhxl9IEglU4MYk=/0x0:1920x1080/1200x800/filters:focal(423x417:729x723)/cdn.vox-cdn.com/uploads/chorus_image/image/59515329/vlcsnap_2018_04_24_16h38m21s178.0.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.btn {
  float: right;
  height: 5vh;
  width: 6vw;
  margin-top: 3vh;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3vh;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 2px #999;
  border-radius: 10%;
  color: #f4df42;
}

.btn:hover {
  background-color: #546E7A;
  color: #D4E157;
  cursor: pointer;
}

#Rules {
  float: left;
  height: 5vh;
  width: 6vw;
  margin-top: 3vh;
  margin-left: 1vw;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0 2px #999;
  border-radius: 10%;
  color: #f4df42;
  font-size: 3vh;
  font-family: 'Oswald', sans-serif;
}

#Rules:hover {
  background-color: #546E7A;
  color: #D4E157;
  cursor: pointer;
}



.close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: inherit;
  border-radius: 1.1vh;
}

.close:hover {
  padding: 0.8vh;
  background-color: #4e4e50;
  cursor: pointer;
}

.cross {
  color: #b1a296;
  font-size: 5vh;
}

.cross:hover {
  color: #6f2232;
}

/*@keyframes animate {
  
  0%{
        background: repeating-linear-gradient(-55deg, #D56446, #D56446 12px, #EA7962 12px, #EA7962 24px);
    }
    50%{
        background: repeating-linear-gradient(-55deg, #D56446 12px, #D56446 24px, #EA7962 24px, #EA7962 36px);
    }
     100%{
        background: repeating-linear-gradient(-55deg, #D56446, #D56446 12px, #EA7962 12px, #EA7962 24px);
    }
}*/


@media only screen and (max-width: 850px) {
  .room {
    width: 65vw;
    left: 17.5vw;
    text-align: center;
    padding: 4vh 3vw;
    background-color: #012622;
  }
  .rooms h3{
    font-size: 4vh
  }
  .room-link{
    font-size: 4vh;
  }
  /*.room a {
    font-size: 4vh;
    margin-top: ;
    padding: 0;
    text-decoration: none;
    opacity: 1;
    display: block;
  }
  .room a:hover {
    background-color: #eaffd0;
    color: #364f6b;
  }*/
 
  .btn {
    float: right;
    height: 5vh;
    width: 22vw;
    margin-top: 2vh;
    margin-right: 6vw;
    background-color: transparent;
    border-radius: 10%;
    outline: none;
    border: none;
    box-shadow: 0 2px #999;
    color: #f4df42;
    font-size: 3vh;
  }
  #Rules {
    float: left;
    height: 5vh;
    width: 19vw;
    margin-top: 2vh;
    margin-left: 6vw;
    background-color: transparent;
    font-size: 3vh;
    border: none;
    outline: none;
    box-shadow: 0 2px #999;
    color: #f4df42;
    border-radius: 10%;
  }
  #Rules:hover {
    background-color: #546E7A;
    color: #D4E157;
  }
  
}
@font-face {
    font-family: 'acme';
    src: url(Fonts/Acme.ttf) format('opentype');
}



/*-------------------------------------*/

.newsline
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 200;
    animation: grow .6s linear;
    animation-fill-mode: forwards;
}

.revert
{
    animation: revert .6s linear;
}

@keyframes revert
{
    100%
    {
        width: 10vw;
        height: 10vh;
    }
    50%
    {
        width: 10vw;
        height: 100vh;
    }
    0%
    {
        width: 100vw;
        height: 100vh;
    }
}

@keyframes grow
{
    0%
    {
        width: 10vw;
        height: 10vh;
    }
    50%
    {
        width: 100vw;
        height: 10vh;
    }
    100%
    {
        width: 100vw;
        height: 100vh;
    }
}

.newsline > .close
{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    z-index: 201;
    font-size: 40px;
}

.newsline > .close:hover
{
    cursor: pointer;
}

.newsline > .upperTriangle
{
    width: 10vw;
    height: 10vh;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.newsline > .lowerTriangle
{
    width: 10vw;
    height: 10vh;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    background: orange;
    display: inline-block;
}

.changePos
{
    animation: changePosition .6s 0.001s linear;
    animation-fill-mode: forwards;
}

@keyframes changePosition
{
    0%
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    50%
    {
        position: absolute;
        top: 0;
        left: 90vw;
    }
    100%
    {
        position: absolute;
        top: 90vh;
        left: 90vw;
    }
}

.originalPosition
{
    animation: shake .6s linear;
}

@keyframes shake
{
    0%
    {
        position: absolute;
        top: 90vh;
        left: 90vw;
    }

    48.2%
    {
        position: absolute;
        top: 90vh;
        left: 0vw;
    }
    100%
    {
        position: absolute;
        top: 0px;
        left: 0vw;
    }
}
</style>