*
{
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

body
{
  background: rgb(220,220,220);
}

.room {
  float: left;
  width: 24vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding: 0vh;
  text-align: center;
  top: 0vh;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  border: none;
}

.room-link{
  list-style-type: none;
  font-size: 35px;
  margin-bottom: 1vw;
  font-family: 'Fredoka One', cursive;
  color: black;
  cursor: url('icons/roomptr.svg'),default;
  display: block;
  background: #ccc;
  width: 90%;
  border-radius: 0 25px 25px 0;
  transform: rotateY(90deg);
  transform-origin: -50px;
  animation: rotateDeg 1s linear forwards;
}

@keyframes rotateDeg
{
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.room-link:hover {
  color: #64B5F6;
}

.rooms h3
{
  font-size: 30px;
  color: black;
  position: relative;
  top: 5vh;
  font-family: 'Ruslan Display', cursive;
}

.roomNames{
  cursor: pointer;
}
@font-face {
  font-family: 
}
#container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.btn {
  position: absolute;
  left: 75vw;
  top: 72vh;
  height: 14vh;
  width: 16vw;
  margin-top: 3vh;
  margin-left: 1vw;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Alegreya Sans SC', sans-serif;
  border: 5px dotted darkred;
  background: darkred;
  color: white;
}

.btn:hover {
  background-color: transparent;
  cursor: pointer;
  border: 5px dotted white;
}

#Rules {
  position: absolute;
  left: 40vw;
  top: 72vh;
  height: 14vh;
  width: 16vw;
  margin-top: 3vh;
  margin-left: 1vw;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Alegreya Sans SC', sans-serif;
  border: 5px dotted darkblue;
  background: darkblue;
  color: white;
}

#Rules:hover {
  background: transparent;
  cursor: pointer;
  border: 5px dotted white;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: inherit;
  border-radius: 1.1vh;
  display: none;
}

.close:hover {
  padding: 0.8vh;
  background-color: #4e4e50;
  cursor: pointer;
}

.cross {
  color: #b1a296;
  font-size: 5vh;
}

.cross:hover {
  color: #6f2232;
}

/*@keyframes animate {
  
  0%{
        background: repeating-linear-gradient(-55deg, #D56446, #D56446 12px, #EA7962 12px, #EA7962 24px);
    }
    50%{
        background: repeating-linear-gradient(-55deg, #D56446 12px, #D56446 24px, #EA7962 24px, #EA7962 36px);
    }
     100%{
        background: repeating-linear-gradient(-55deg, #D56446, #D56446 12px, #EA7962 12px, #EA7962 24px);
    }
}*/

.anagram
{
  width: 72vw;
  height: 40vh;
  position: absolute;
  left: 25vw;
  top: 2vh;
}

.anagram > div
{
  position: relative;
  left: 2%;
  top: 10%;
  background: #ccc;
  font-size: 45px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  text-align: center;
  background: white;
  display: inline-block;
  opacity: 0;
  border-radius: 5px;
}

.shadowAnimate
{
 animation: shadowAnimate 0.7s linear forwards;
}

@keyframes shadowAnimate
{
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 10px 0px grey;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
    box-shadow: 25px 25px 0px grey;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 2px 2px 5px grey;
  }
}

.visual
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 24vw;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.visual > img
{
  width: 76vw;
  height: 100vh;
}

.visual > .lineOne
{
  position: relative;
  left: 0;
  top: 20vh;
  height: 30vh;
  width: 0.5vw;
  /*background: rgb(255,255,0);*/
  display: inline-block;
  transform: translateX(8vw);
}

.visual > .lineOne:nth-child(1)
{
  height: 10vh;
  background: white;
}

@media screen and (max-width: 1050px) {
  .rooms > h3
  {
    top: 2vh;
  }

  .anagram > div
  {
    width: 90px;
    height: 100px;
    font-size: 40px;
  }

  #Rules
  {
    width: 200px;
  }

  .btn
  {
    left: 70vw;
    width: 200px;
  }
}

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .anagram > div
  {
    width: 73px;
    height: 73px;
    font-size: 30px;
  }
}

@media screen and (max-width: 800px)
{
  .anagram > div
  {
    width: 80px;
    height: 80px;
    font-size: 35px;
  }

  #Rules
  {
    left: 30vw;
  }

  .btn
  {
    left: 65vw;
  }
}

@media screen and (max-width: 450px) {
  .container
  {
    overflow-y: hidden;
  }

  .room
  {
    top: 65vh;
    left: 0;
    width: 99vw;
    height: auto;
  }

  .room-link
  {
    position: relative;
    left: 2vw;
    width: 30vw;
    font-size: 20px;
    display: block;
    transform: rotateY(0deg);
    animation: none !important;
  }

  .rooms > li
  {
    display: inline-block;
  }

  .visual
  {
    left: 0;
    width: 100vw;
  }

  .visual > img
  {
    left: 0;
    width: 100vw;
  }

  .anagram
  {
    left: 1vw;
    width: 95vw;
    height: auto;
  }

  .anagram > div
  {
    left: 0;
    width: 50px;
    height: 70px;
    font-size: 30px;
  }

  #Rules
  {
    position: absolute;
    left: 30vw;
    top: 27vh;
    width: 100px;
    height: 70px;
  }

  .btn
  {
    position: absolute;
    left: 60vw;
    top: 27vh;
    width: 120px;
    height: 70px;
  }
}

@media screen and (max-width: 800px) and (max-height: 450px) {
  .anagram
  {
    height: auto;
  }

  .anagram > div
  {
    left: 0;
    width: 45px;
    height: 55px;
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  .anagram
  {
    height: auto;
  }
  
  .anagram > div
  {
    left: 0;
    width: 45px;
    height: 55px;
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) and (max-height: 600px) {
  .anagram
  {
    height: auto;
    overflow: hidden;
  }

  .anagram > div
  {
    left: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 15px;
  }

  #Rules
  {
    top: 22vh;
    left: 10vw;
  }

  .btn
  {
    top: 22vh;
    left: 30vh;
  }
}

@media screen and (max-width: 600px) and (max-height: 330px) {
  .room
  {
    width: 30vw;
  }

  .visual
  {
    width: 70vw;
    left: 30vw;
  }

  .anagram
  {
    left: 32vw;
    font-size: 25px;
  }

  .anagram > div
  {
    width: 35px;
    height: 40px;
    font-size: 18px;
  }

  #Rules
  {
    left: 35vw;
    width: 100px;
  }

  .btn
  {
    width: 120px;
  }
}

@media screen and (max-width: 850px) and (max-height: 450px) {
  .anagram
  {
    /*background: #eee;*/
    padding: 10px;
  }

  .anagram > div
  {
    font-size: 23px;
    width: 50px;
    height: 45px;
  }

  #Rules
  {
    left: 30vw;
  }
}

@media screen and (max-width: 400px) and (max-height: 850px) {
  .anagram
  {
    padding: 10px;
  }

  .anagram > div
  {
    width: 45px;
    height: 45px;
    font-size: 17px;
  }

  #Rules
  {
    left: 10vw;
  }
}

@media screen and (max-width: 450px) and (max-height: 750px) {
  .anagram > div
  {
    height: 55px;
    font-size: 25px;
  }

  #Rules, .btn
  {
    top: 25vh;
  }
}

@media screen and (max-width: 370px) and (max-height: 650px) {
  .anagram
  {
    padding: 10px;
  }

  .anagram > div
  {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  #Rules
  {
    left: 10vw;
  }
}

@media screen and (max-width: 350px) and (max-height: 600px) {
  .anagram
  {
    padding: 10px;
  }

  .anagram > div
  {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}