<!DOCTYPE html>
<html lang="en">
   <head>
   	{% load static %}
      <title>SPORTZILLA 2018</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/sportzilla.css' %}" />                                           
	</head>
	<body>
		<img alt="bodybg" src="{% static 'chat/icons/sports.jpg' %}" id="bodybgl" class="bodybg">

		<div id="bosmlogo">
			<img alt="bosmlogo" src="{% static 'chat/icons/logo.png' %}">
		</div>
		<div id="title" class="text">
			SPORTZILLA<br>2018
		</div>
		<div id="titlep" class="text">
			SPORTZILLA<br><br>2018
		</div>
		<div id="cc" class="text">
			<img alt="cclogo" src="{% static 'chat/icons/cclogo.jpg' %}">
		</div>

        <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=504459446204-v1jtm0h04mgv7ajnipa48d2g6ijp4f68.apps.googleusercontent.com&as=sOIWyVVruE4j17qK5GAf4Q&destination=http%3A%2F%2Flocalhost%3A8000&approval_state=!ChROcUdVcFRqaEVvQTVnWFFmMjYwVBIfQS1yTVlkMmwxYllYOEhuU1JuY2dubXJ1OE9UQ1RCWQ%E2%88%99ANKMe1QAAAAAW1hnmGqfauVcVmu9LA__9PwZGa8raykk&oauthgdpr=1&xsrfsig=AHgIfE-cbPKR_tt5HMEJQie9Dp-MlfeyKg&flowName=GeneralOAuthFlow" id="loginLink">LOGIN</a>

		
	</body>
</html>


